/* Body */
body { 
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7bb0e5+0,ccdae8+100 */
    background: rgb(123,176,229); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(123,176,229,1) 0%, rgba(204,218,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(123,176,229,1)), color-stop(100%,rgba(204,218,232,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(123,176,229,1) 0%,rgba(204,218,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(123,176,229,1) 0%,rgba(204,218,232,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(123,176,229,1) 0%,rgba(204,218,232,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(123,176,229,1) 0%,rgba(204,218,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bb0e5', endColorstr='#ccdae8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    min-width: 320px;
    color: #777;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: rgb(75, 75, 75);
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.125em;
}

a {
    color: #3b8bba; /* block-background-text-normal */
    text-decoration: none;
}

a:visited {
    color: #265778; /* block-normal-text-normal */
}

h1 {
  color: rgb(75, 75, 75);
}

/* Top bar: black bar */
div.top { 
    background-color: black;  
    width: 100%;
    height: 148px;
}

/* content - style like paper */
div.content {
    box-shadow: 1px 6px 26px -6px rgba(0,0,0,0.45);
    background-color: #fff;
}

/* paragraphs */
p { text-align: justify;
}

/* code */
pre { 
    color: white;
    background-color: #454545;
    border: 1px solid #666;
    overflow: auto;
    max-height: 15em;
    font-family: "Liberation Mono",dl_liberation_mono,monospace;
    /* Override PureCSS, a little to big for my taste */
    font-size: .85em !important;
    padding: 0 .4em;
    font-style: normal;
}

div.footer {
    font-size: 87.5%;
    border-top: 1px solid #eee;
    padding: 0.2em;
    background: rgb(250, 250, 250);
    text-align:center;
    margin-top:50px;
}

/* Used for indentation */
address { 
    bottom:40px;
    color:black;
    position:absolute;
    right:10px;
}

/* General table styles */
table { 
    background: transparent none repeat scroll 0% 50%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    clear: none;
    border-collapse: collapse;
    font-size: 90%;
}

/* Used in transitions.php */
#shapewipes img {
    width: 100px;
    height: 100px;
}

/* Downloads
 * 
 * Distribution buttons */
div#distros div.button {
    display: block;
    float: left;
    cursor: pointer;
    border: 1px solid transparent;
    text-align: center;
    padding: 20px 5px 3px 5px;
    margin: 0 .5em 0 0;
}

div#distros div.button:hover,
div#distros div.button.chosen {
    border: 1px solid #449DC6;
    background: #fff url("/images/website/download-button-bg.png") no-repeat;
}

div#distros div.button h4 {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
}

div#distros div.button div.details {
    display: none;
}

/* Details Box */
#distro-details {
    margin: 0 2.5em 3em 2.5em;
    display: none;
}

#distro-details ul {
    margin: 0 0 0 1em;
    padding: 0;
}

#distro-details table {
    width: 100%;
}

h3.download {
    clear: both;
    padding-top:10px;
}

/* Live CD's */
div.livecd {
    display: block;
    float: left;
    cursor: pointer;
    border: 1px solid transparent;
    text-align: center;
    padding: 20px 5px 3px 5px;
    margin: 0 .5em 0 0;
}

div.livecd:hover {
    border: 1px solid #449DC6;
    background: #fff url("/images/website/download-button-bg.png") no-repeat;
}

div.livecd h4 {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
}

/* Tooltips */
.tip .content {
    font-size: 11px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px;
    width: 150px;
    background: dodgerblue;
    color: #fff;
}

/* Crude hack to align text centered next to image
 * Positioning inside a list isn't easy */
#menu li a img {
    vertical-align:-25%;
    margin-right:3px;
}

.lastmodified {
  text-align:right;margin-right:-20px;font-size:small;
}

/* The social buttons in the menu need their own class
 * since PureCSS doesn't allow to put two items next to each other */
.socialmenu {
  margin-top:5px;
  margin-bottom:5px;
  margin-left:2px;
}

/* Default font size for pure menu items */
.socialmenu a {
  font-size:90%;
}

/* Put notes in fancy boxes
 * TODO: alerts */
div.hint {
    border-radius: 5px;
    margin: .5em 0;
    border: 1px solid #1F8DD6;
    clear: none;
    overflow: auto;
}

div.hint h3 {
    border-radius: 3px 3px 0 0;
    margin: 0;
    font-size: .9em;
    font-weight: bold;
    color: white;
    background-color: #1F8DD6;
    padding: 0 1em;
}

div.hint div.hintcontent {
    padding: .5em 1em;
}

/* Override browser-set values.
 * (Chrome adds a margin to p tags)*/
div.hint div.hintcontent p {
    margin-top:0;
    margin-bottom:0;
}

