/* body */
body { 
    margin: 0px;
    margin: 0px;
    background: white;
    color:  black;
    font-family: arial,Helvetica,'Bitstream Vera Sans','Luxi Sans',Verdana,Sans-Serif;
    font-size: 90%;
    width: auto;
    position: relative;
}

a:link  { 
    font-weight: bold;
    text-decoration: none;
    color: rgb(10, 83, 116);
}

a:hover { 
    text-decoration: underline; 
    font-weight: bold;
}

a:visited { 
    font-weight: bold; 
    text-decoration: none; 
    color: rgb(66, 180, 245); /*#4cbeff */
}

/* Top bar: gray bar */
div.top { 
    background-color: black;  
    width: 100%;
    height: 148px;

}

div#logo { 
    background: black url("cinelerra-orng.png") no-repeat center;  
    position: absolute;
    width: 348px;
    height: 148px;
    right: 36px;
}


div.top a.logo, div.top a.logo:link, div.top a.logo:hover, div.top a.logo:visited { 
    border: medium none;
    background: transparent;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Top bar: Cinelerra CV*/ 
div.top span#banner { 
    margin: 26px 0px 0px 15px;
    line-height: 122px;
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 600%;
    font-family: arial;
    float: left;
}

div.top span#banner a {
    font-weight: lighter;
}

div.top a span.highlight {  
    color: orange !important;
}

img.logo { 
    border: medium none ;
    float: left;
}

/* Sidemenu */
#menu { 
    border: 1px solid rgb(0,0,0);
    float: left;
    width: 13em;
    margin: 1em;
}

#menu ul { 
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
}

/* Side menu title black bars */
#menu li.menu { 
    padding: 0px;
    background: black url(square-orng-sm.png) no-repeat scroll 10px 50%;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#menu .title { 
    padding: 0px 4px 0px 15px;
    text-align: left;
    margin: 0px 0px 0px 20px;
    background-color: black;
    color: rgb(255, 255, 255);
}

#menu ul.sub { 
    border-top: 1px solid rgb(0,0,0);
    border-bottom: 1px solid rgb(0,0,0);
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
}

/* Side menu items */
#menu li a {  
    border-right: 0px black;
    margin: 0px;
    padding: 4px 4px 4px 10px;
    background: rgb(235, 235, 235) none repeat scroll 0% 50%;
    display: block;
    width: 100%;
    height:20px;
    color: rgb(10, 83, 116);
}

/* Crude hack to align text centered next to image
 * Positioning inside a list isn't easy */
#menu li a img {
    vertical-align:-25%;
    margin-right:3px;
}

#menu li a:visited {
    color: rgb(10, 83, 116);
}

html > body #menu li a { 
    width: auto;
}

#menu li.item a:hover, ul.sub li.item a:hover {
    border-top: 0px solid rgb(111, 0, 11);
    background: rgb(74, 152, 190) none repeat scroll 0% 50%;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

div.content { 
    padding-left: 16em;
    padding-bottom: 20px;
    margin-right: 1em;
}

#skipnav { display: none;
}

#togglecss { 
    position: absolute;
    top: 110px;
    right: 10px;
}

img.left { 
    float: left;
    border: 1px solid rgb(0,0,0);
}

img.thumb { border: 1px solid rgb(153, 153, 153);
}

div.news div.item h3 { 
    border-left: 10px solid rgb(153, 153, 153);
    font-weight: bold;
    padding-left: 4px;
    margin-bottom: 4px;
    clear: right;
}

div.news div.item p { 
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

p { text-align: justify;
}

h2 { 
    border-bottom: 1px solid rgb(0, 0, 0);
    clear: right;
}

pre { 
    border: 2px solid rgb(74, 152, 190);
    padding:20px;
    background: rgb(235, 235, 235) none repeat scroll 0% 50%;
}

#footer { 
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    clear: both;
}

#footer img { 
border: medium none ;
}

#footer a { 
color: orange;
}

address { 
    bottom:40px;
    color:black;
    position:absolute;
    right:10px;
}

table { 
    background: transparent none repeat scroll 0% 50%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    clear: none;
    border-collapse: collapse;
    font-size: 90%;
}

td { 
    padding: 8px;
    vertical-align: top;
}

table.roadmap { background: rgb(238, 238, 238) none repeat scroll 0% 50%;
}

table.roadmap td { border: 1px solid rgb(153, 153, 153);
}

table.bounty {
    width: 99%;
    border: 0.2em solid black;
    margin-bottom: 1em;
}

/*Table title line*/
table.bounty th { 
    padding: 1ex; 
    background: rgb(54, 54, 54)/*(200, 150, 180)*/;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

table.bounty td { margin: 1ex; }

table.bounty td.category { 
    border-right: 0.1em solid; 
    width: 15%;}

table.bounty td.taskname { 
    border-right: 0.1em solid; 
    width: 25%;}

table.bounty td.req { 
    border-right: 0.1em solid; 
    width: 40%;}

table.bounty td.bounty {
    border-right: 0.1em solid; 
    width: 8%;
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;}
    table.bounty td.status { 
    width: 12%;
    text-align: left;}

    table.bounty tr { background: rgb(208,208,255); }
    table.bounty tr.odd { background: rgb(240,240,255); }
    table.bounty tr.completed { background: rgb(220,250,220); }

Tr.header { 
    background: rgb(221, 221, 221) none repeat scroll 0% 50%;
    font-weight: bold;
       }

td.title {
    background: rgb(221, 221, 221) none repeat scroll 0% 50%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: rgb(156, 66, 112);
}

img.float { 
    float: right;
    border: 1px solid rgb(0,0,0);
}

select, option, textarea, input {
    border: 1px solid rgb(102, 102, 102);
    margin: 2px 0px 2px 0pt;
    padding: 2px;
    background: white none repeat scroll 0% 50%;
    color: rgb(0, 0, 0);
    font-size: 10px;
    text-decoration: none;
}

select:hover, option:hover, textarea:hover, input:hover { 
    background: rgb(221, 221, 221) none repeat scroll 0% 50%;
       }

form.search { 
    border-top: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214);
    margin: 0px;
    padding: 4px 4px 4px 10px;
    background: rgb(240, 240, 240) none repeat scroll 0% 50%;
    text-align: center;
    display: block;
    color: rgb(0, 129, 172);
}

form.search:hover { background: rgb(172, 108, 157) none repeat scroll 0% 50%;
}

#post_news input { 
    width: 35%;
}

#post_news textarea { 
    width: 100%;
    height: 150px;
}

input#login, #post_news input#preview, #post_news input#save, #post_news input#reset { 
    width: 100px;
}

#post_news table { 
    padding: 0pt;
}

#post_news td { 
    padding-left: 0pt;
}

#post_news table tr td.header { 
    width: 10%;
    font-weight: bold;
}

.alert { 
    color: orange;
}

div.alert { 
    border: 1px solid orange;
    padding: 8px;
}

.preview, .message { 
    border: 1px solid rgb(204, 204, 204);
    padding: 8px;
}

#navbar { 
    padding: 8px;
    background: rgb(204, 204, 204) none repeat scroll 0% 50%;
}

#navbar a { 
    padding-right: 6em;
}



/*for specific pages*/
#shapewipes img {
    width: 100px;
    height: 100px;
}
